---
import Layout from "@layouts/Layout.astro";
import { Picture } from "@astrojs/image/components";
let details = {
    "name": "Shubham",
    "current_company":"GreyOrange",
    "current_company_website": "https://www.greyorange.com/",
    "current_company_moto": "a leader in warehouse automation",
    "bachelors_subject": "Electrical & Electronics Engineering (hons.)",
    "masters_subject": "Mathematics (hons.)",
    "college": "BITS Pilani, KK Birla Goa Campus",
    "college_website": "https://www.bits-pilani.ac.in/"
}

---

<Layout title="About Me" description="It's me, Shubham (aka SchwiftyCold)">
    <section class="flex flex-col justify-evenly items-center py-14">
        <Picture
        src="/profile.png"
        class="basis-1/2 rounded-full overflow-hidden inline-flex sm:m-5"
        alt="Shubham"
        aspectRatio="1:1"
        widths={[240]}
        loading="eager"
        sizes="160px"
        width={240}
        height={240}
        />
        <div class="container mx-auto p-10">
            <h1 class="text-3xl font-bold text-center">Hello and Welcome !!!</h1>
            <p class="text-black dark:text-zinc-300 mt-5 text-justify">
                I'm {details.name}, a Software Development Engineer with a passion for both <b class="font-extrabold">software development</b> and <b class="font-extrabold">data science</b>. 
                Currently, I work at 
                <a class="text-blue-600 hover:text-blue-800" href={details.current_company_website}>{details.current_company}</a>, 
                {details.current_company_moto} 
                where I use my technical expertise to build innovative and impactful software solutions.
            </p>
            <p class="text-black dark:text-zinc-300 mt-5 text-justify">
                I hold a Bachelor's in {details.bachelors_subject} and Master's degree in {details.masters_subject} from 
                <a class="text-blue-600 hover:text-blue-800" href={details.college_website}>{details.college}</a>. 
                My education has provided me with a strong foundation in the principles and practices of Electronic systems and Mathematical abstractions.
            </p>
            <p class="text-black dark:text-zinc-300 mt-5 text-justify">
                My love for Electronics and Mathematics, combined with my desire to find creative solutions to complex problems, 
                led me to the field of <b class="font-bold">software engineering</b>, where I can apply my knowledge and skills to make a meaningful impact.
                My background in mathematics (statistics) has given me a unique perspective on software development. 
                I understand the critical role that data plays in driving success and ensuring that software solutions deliver the intended outcomes. 
            </p>
            <p class="text-black dark:text-zinc-300 mt-5 text-justify">
                My journey in Software began during my second year of college, 
                when <a href="https://www.linkedin.com/in/shriram-chenniappa-9a2767168/">Shriram</a>, <a href="https://www.linkedin.com/in/anand-adarsh/">Adarsh</a> 
                and I started an on-campus venture called <a class="text-blue-600 hover:text-blue-800" href="https://play.google.com/store/apps/details?id=com.schwifty.bits_delivery&hl=en_IN&gl=US">BITS Eats</a>, a food delivery system for students and faculties. 
                Which led to the foundation of 
                <a class="text-blue-600 hover:text-blue-800" href="https://www.instagram.com/schwifty_technologies/?hl=en">Schwifty Technologies</a> 
                with our first product being <a class="text-blue-600 hover:text-blue-800" href="https://play.google.com/store/apps/developer?id=Schwifty+Technologies/">OrderUp</a>, 
                aiming at making restaurants waiterless. 
            </p>
            <p class="text-black dark:text-zinc-300 mt-5 text-justify">
                Moving in life, I also explored the role of a AI/ML Engineer at 
                <a class="text-blue-600 hover:text-blue-800" href="https://www.genpact.com/">Genpact</a>, 
                where I was responsible for implementing an AI model (with ~70% accuracy) to detect emotions from the human speech signals
                which was an essential part of improving the customer feedback system at call centers. 
                Fastforward to Jan, 2022, I started working with <a class="text-blue-600 hover:text-blue-800" href="https://www.greyorange.com/">GreyOrange</a> 
                as SDE where I majorly help the company in running POCs and implementing new tech-stacks.  
            </p>
            <p class="text-black dark:text-zinc-300 mt-5 text-justify">
                When I'm not coding or developing software, 
                I love trying out new recipes and exploring the world of gastronomy as a <b class="font-bold">foodie</b>.
                
                I also have a passion for gaming, particularly playing 
                <a class="text-blue-600 hover:text-blue-800" href = "https://playvalorant.com/en-gb/">Valorant</a> (Killjoy main) 
                and losing myself in the world of 
                <a class="text-blue-600 hover:text-blue-800" href="https://elderscrolls.bethesda.net/en/skyrim">Skyrim</a>
                and sometimes 
                <a class="text-blue-600 hover:text-blue-800" href="https://www.rockstargames.com/gta-v">GTA V</a>.
                Eagerly waiting for the launch of "The Elder Scrolls 6" and "GTA 6". 
            </p>
            <p class="text-black dark:text-zinc-300 mt-5 text-justify">
                I also enjoy indulging in my love for anime, immersing myself in the unique stories and vibrant worlds that they bring to life.
                And like every anime lover out there, my watch list is huge and is growing at an exponential rate. 
                Being a 'sub' watcher, I can confirm that keeping sub-titles at the top really helps.
            </p>
            <p class="text-black dark:text-zinc-300 mt-5 text-justify">
                Last words, 
                whether you're a seasoned veteran or just starting out, 
                I believe that there's always something new to learn and something exciting to discover.
                Feel free to ping me on any social networking sites. 
            </p>
          </div>
    </section>
</Layout>