---
import Layout from "@layouts/Layout.astro";
import BlogCard from "@components/BlogCard.astro";
import Subscribe from "@components/Subscribe.astro";
import { Picture } from "@astrojs/image/components";
import SchwiftyCold from "@images/SchwiftyCold.png";

interface Frontmatter {
  title: string;
  pubDate: string;
  description: string;
  draft: boolean;
}

let blogs = await Astro.glob<Frontmatter>("./posts/**/*.mdx");
blogs = blogs.filter((post) => !post.frontmatter.draft);
blogs = blogs.sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<Layout title="Blog Index" description="">
  <section class="flex flex-col sm:flex-row justify-evenly items-center py-14">
    <Picture
      src={SchwiftyCold}
      class="rounded-full overflow-hidden inline-flex sm:m-8"
      alt="Shubham"
      aspectRatio="1:1"
      widths={[320]}
      loading="eager"
      sizes="160px"
      width={240}
      height={240}
    />

    <header class="max-w-xl sm:order-first">
      <h1 class="text-3xl mb-10 md:mb-5 text-center sm:text-left">
        Hi, I am Shubham.
      </h1>
      <p class="text-black dark:text-zinc-300 mb-5">
        Right now, I'm working with GreyOrange as a software development
        engineer.
      </p>
      <p class="text-black dark:text-zinc-300">
        Being a major in math and electronics, I am fascinated with computers
        and everything revolving around them.
      </p>
      <p class="text-black dark:text-zinc-300">
        Here, I write about some of my interesting works and important findings.
      </p>
    </header>
  </section>
  <section class="py-14">
    <h1 class="text-3xl mb-5">Recent Post</h1>
    <ul class="flex flex-col justify-center py-5">
      {
        blogs.length >= 1 &&
          blogs
            .slice(0, 3)
            .map((post) => (
              <BlogCard
                title={post.frontmatter.title}
                description={post.frontmatter.description}
                pubDate={post.frontmatter.pubDate}
                url={post.url}
              />
            ))
      }
    </ul>
    <div class="text-center dark:text-zinc-300 text-zinc-200 mt-5">
      <a
        href="/posts"
        class="p-3 rounded-lg dark:bg-zinc-800 bg-zinc-200 dark:text-zinc-300 text-black p-4 ring-2 ring-opacity-0 ring-zinc-500 focus:ring-opacity-100 transition-all motion-reduce:transition-none"
        >Show more posts</a
      >
    </div>
  </section>
</Layout>
